@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model NICRegister.Models.Register
@if (Model is null)
{
    <div class="alert alert-danger" role="alert">
        Record not found in Database with Model.Id.ToString()
        <a asp-action="List" asp-controller="Register" class="btn btn-primary">Go back</a>
    </div>
}
else
{
    <h1>Edit Register</h1>
    <form method="post">


        <div class="form-row">
            <div class="form-group">
                <label for="inputID">Id</label>
                <input type="text" class="form-control" id="inputID" placeholder="Name" required asp-for="Id" readonly>
            </div><div class="form-group">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" placeholder="Name" required asp-for="Name">
            </div>
            <div class="form-group">
                <label for="inputFName">Father Name</label>
                <input type="text" class="form-control" id="inputFName" placeholder="Father Name" required asp-for="FatherName">
            </div>
            <div class="form-group">
                <label for="Gender">Gender</label>
                <input type="text" class="form-control" id="Gender" placeholder="Gender" required asp-for="Gender">
            </div>
            <div class="form-group col-md-12">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" required asp-for="Email">
            </div>

        </div>
        <div class="form-group row">
            <label for="inputContact">Mobile</label>
            <input type="text" class="form-control" id="inputContact" placeholder="123456789" maxlength="10" asp-for="Mobile">
        </div>
        <div class="form-group row">
            <label for="inputAdhar">Adhar</label>
            <input type="number" class="form-control" id="inputAdhar" placeholder="123456789" required asp-for="AdharNumber">
        </div>
        <div class="form-group">
            <label for="District">District</label>
            <select class="form-control" id="exampleFormControlSelect1" asp-for="District" required>
                <option>Hyderabad</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Mondal">Mondal</label>
            <select class="form-control" id="Mondal" asp-for="Mondal" required>
                <option>Kukatpally</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Village">Village</label>
            <select class="form-control" id="Village" asp-for="Village" required>
                <option>Kukatpally</option>
            </select>
        </div>
        <div class="form-group row col">
            <label for="inputAddres">Address</label>
            <input type="text" class="form-control" id="inputAddres" placeholder="Adress" asp-for="Address">
        </div>



        <button type="submit" class="btn btn-primary mt-2">Save changes</button>
        <button type="submit" class="btn btn-danger" asp-controller="Register" asp-action="Delete">Delete</button>
    </form>
}
